@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Choose or create username</h2>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div class="form-floating mb-2">
                <input asp-for="Name" class="form-control" aria-required="true" id="username" />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>